@import './variables.scss';

* {
  box-sizing: border-box;
  margin: none;
  outline: none;
}

body {
  background-color: $colorBody;  
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #222;
}
